<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Library Management System</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="C:\Users\vignan\Desktop\library\public\assets\css\styles.css">
</head>
<body>

    <div id="header"></div>

    <section class="about-us-section">
        <h2>About Us</h2>
        <p>
            Welcome to our Library Management System! We are committed to fostering a love for reading and providing access to a diverse range of books for our community. Our library aims to be a hub of knowledge, culture, and creativity.
        </p>
        <p>
            Our mission is to make literature accessible to everyone. We offer an extensive collection of books, e-resources, and programs that inspire learning and personal growth. With our user-friendly platform, you can easily search for, borrow, and manage your reading materials from anywhere.
        </p>
        <img src="C:\Users\vignan\Desktop\library\public\assets\img\aboutus.jpg" alt="About Us Image" class="about-us-image">
    </section>

    <div id="footer"></div>

    <script src=".public/assets/js/script.js"></script>
</body>
</html>
